<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.imagePath}}" alt="recipe.name" class="img-fluid w-50">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="dropdown" appDropDown #r="appDropDown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Manage Recipe
            </button>
            <ul class="dropdown-menu" [ngClass]="{'show':r.isOpen}">
                <li><a class="dropdown-item" href="#">To Shopping list</a></li>
                <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
                <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
            </ul>
        </div>
       
</div>

<div class="row">
    <div class="col-12">{{recipe.description}}</div>
    <div class="col-12">Ingredients</div>
</div>